body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    background-color: #c2cfd3;
}

#buttons {
    display: flex;
    flex-direction: row;
}
#buttons button {
    margin-right: 10px;
}

#canvas {
    margin-bottom: 10px;
    display: block;
}

#game-over-text {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

#match-history {
    margin-top: 10px;
}

#auto-reset-icon {
    font-size: 14px;
}
