body {
    font-family: monospace;
}

#canvas {
    margin-bottom: 10px;
    display: block;
}

#gameover-text {
    margin-top: 10px;
}

#match-history {
    margin-top: 10px;
}

#auto-reset-icon {
    font-size: 14px;
}
